@model Contraseña.Web.data.PasswordGenerator

@if (!string.IsNullOrEmpty(Model.GeneratedPassword))
{
    <div class="alert alert-success" role="alert">
        Generated Password: @Model.GeneratedPassword
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        Failed to generate password.
    </div>
}
