@model List<ThingsToDo.Models.List>

<h2>Lista de Tareas</h2>

<!-- Contenido de la lista de tareas -->
@if (Model != null && Model.Count > 0)
{
    <ul>
        @foreach (var list in Model)
        {
            <li>
                <input type="checkbox" asp-controller="Task" asp-action="MarkAsCompleted" asp-route-id="@list.Id" @(list.IsCompleted ? "checked" : "") />
                <span>@list.Name</span>
                <form asp-controller="Task" asp-action="DeleteTask" method="post">
                    <input type="hidden" name="id" value="@list.Id" />
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        }
    </ul>
}
else
{
    <p>No se encontraron tareas.</p>
}

<h2>Agregar Nueva Tarea</h2>

<form asp-controller="Task" asp-action="AddTask" method="post">
    <input type="text" name="Name" placeholder="Ingrese el nombre de la tarea" />
    <button type="submit">Agregar Tarea</button>
</form>