@model Reservation.Data.Reservation

@{
    ViewData["Title"] = "Crear Nueva Reserva";
}

<h2>Crear Nueva Reserva</h2>

<form asp-action="Create">
    <div>
        <label asp-for="UserName">Nombre de Usuario:</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Date">Fecha:</label>
        <input asp-for="Date" type="date" />
        <span asp-validation-for="Date"></span>
    </div>
    <button type="submit">Crear</button>
</form>
